In [1]:
import mysql.connector as connector

In [53]:
connection = connector.connect(user = "root", password = "",db = "little_lemon_db")
cursor = connection.cursor()

In [74]:
show_tables_query = "SHOW tables" 

cursor.execute(show_tables_query)

In [75]:
#result=cursor.fetchall()
for i in cursor:
    print(i)

('bookings',)
('employees',)
('menuitems',)
('menus',)
('orders',)

In [56]:
for tables in cursor:
    print(tables)

In [58]:
cursor.execute('SELECT*FROM orders')
for tables in cursor:
    print(tables)

(1, 12, 1, 1, 86, 2)
(2, 19, 2, 2, 37, 1)
(3, 15, 2, 3, 37, 1)
(4, 5, 3, 4, 40, 1)
(5, 8, 1, 5, 43, 1)

In [60]:
cursor.execute('describe bookings')
for tables in cursor:
    print(tables)

('BookingID', b'int', 'NO', 'PRI', None, 'auto_increment')
('TableNo', b'int', 'YES', '', None, '')
('GuestFirstName', b'varchar(100)', 'NO', '', None, '')
('GuestLastName', b'varchar(100)', 'NO', '', None, '')
('BookingSlot', b'time', 'NO', '', None, '')
('EmployeeID', b'int', 'YES', '', None, '')

In [51]:
cursor.execute('SELECT* FROM orders')
for tables in cursor:
    print(tables)

In [68]:
cursor.execute('describe orders')
for tables in cursor:
    print(tables)

('OrderID', b'int', 'NO', 'PRI', None, '')
('TableNo', b'int', 'NO', 'PRI', None, '')
('MenuID', b'int', 'YES', '', None, '')
('BookingID', b'int', 'YES', '', None, '')
('BillAmount', b'int', 'YES', '', None, '')
('Quantity', b'int', 'YES', '', None, '')

In [73]:
cursor.execute('SELECT bookings.GuestFirstName, bookings.GuestLastName, orders.BillAmount  \
               FROM bookings INNER JOIN  orders \
               ON bookings.BookingID=orders.BookingID \
               WHERE BillAmount > 60 ')
for tables in cursor:
    print(tables)

('Anna', 'Iversen', 86)